<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95295237576-eb99u6q733atiuq9m4488sfhidsp037o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95295237576-eb99u6q733atiuq9m4488sfhidsp037o</string>
	<key>API_KEY</key>
	<string>AIzaSyDKcWoR6BkDeID-pRWGmwIam3YuNb4JY1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>95295237576</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ecommerceBloc</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-bloc-64a46</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-bloc-64a46.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95295237576:ios:e44c4100ae716f0cace4fd</string>
</dict>
</plist>